{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 center-align">
            <br>
            <div class="card">
                <!-- Header -->
                <div class="card-body">
                    <img alt="Lionstagram_logo" src="{% static 'page/images/lion.jpg' %}" width="25" height="25"
                        class="d-inline-block align-top"><strong style="padding-left:10px;">{{post.author}}</strong>
                        {% if user.is_authenticated and user.username == post.author.username %}
                        <div class="btn-group" style="float:right;">
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" role="menu">
                            <li><a href="{% url 'edit' post.id %}" class="dropdown-item">수정</a></li>
                            <li><a href="{% url 'delete' post.id %}" class="dropdown-item">삭제</a></li>
                          </ul>
                        </div>
                        {% endif %}
                    <hr>
                </div>

                <!-- Image -->
                <a class="image">
                    {% if post.image %}
                    <img src="{{post.image.url}}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="{% static 'page/images/thumbnail.jpg' %}" class="card-img-top" alt="...">
                    {% endif %}
                </a>

                <!-- Post -->
                <div class="card-body">
                    <hr>
                    <p class="card-text"><strong>{{post.author}} </strong> {{post.content}}</p>
                    <small class="card-text" style="color:gray;">{{post.pub_date}}</small>
                    <hr>
                    <p class="text-right"><a href="{% url 'home' %}" class="btn btn-primary">홈으로</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}